# Google Gemini AI Key
VITE_GEMINI_API_KEY=your_gemini_api_key_here

# Django REST Framework API Base URL
VITE_API_BASE_URL=http://127.0.0.1:8000/api/v1

# Course Creator Studio URL
VITE_COURSE_CREATOR_URL=http://localhost:5174
